body {
    display: block;
    background-color: #ffffcc;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    overflow: hidden;
    position: fixed;
    background-color: black
  }
  
li {
    float: right;
    color: white;
  }
  
li a {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #00ffff;
    color: black;
  }


.divOne {
    background-color:  #bfbfbf;
    height: 300px;
    margin: auto; 
    width: 1000px;
    padding: 10px;

  }

.divTwo {
    background-color:  #ff0000;
    margin: auto;
    height: 400px;
    width: 1000px;
    padding: 10px;
  }


.divThree {
    background-color:  #66ff33;
    margin: auto; 
    width: 1000px;
    padding: 10px;
  }

.divFour {
    background-color:  #996600;
    height: 300px;
    margin: auto; 
    width: 1000px;
    padding: 10px;
  }

.divFive {
    background-color:  #0099cc;
    height: 300px;
    margin: auto; 
    width: 1000px;
    padding: 10px;
  }


  .divOne:hover{
    background-color: #f2f2f2;
  }

  .divTwo:hover{
    background-color: #fc7303;
  }

  .divThree:hover{
    background-color: #ccff66;
  }

  .divFour:hover{
    background-color: #c49a10;
  }

  .divFive:hover{
    background-color: #8ccad4;
  }

  table, th, td {
    border: 1px solid #3385ff;
    background-color: white; 
    color: black; 
  }

  p {
    font-size: 20px;
  }



