body {
    display: block;
    margin: 0px;   
}

.navbar {
    width: 100%;
     position: absolute;
     top: 0;
     margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

div > h1{
      margin: 10px;
  }

.divOne {
    background-color:  #99ccff;
    height: 300px;
    width: 100%;
  }

.divTwo {
    background-color:  #ff0000;
    height: 300px;
    width: 100%;
  }

.divThree {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:  #66ff33;
    height: 300px;
    width: 100%;
  }

.divThreeBorder{
    border-style: solid;
    border-width: medium;
}

.divFour {
    background-color:  #996600;
    height: 300px;
    width: 100%;
  }

.divFive {
    background-color:  #0099cc;
    height: 300px;
    width: 100%;
  }


  .divone:hover{
    background-color: rgb(28, 138, 189);
  }

  table, th, td {
    border: 1px solid #3385ff;
    background-color: white; 
    color: black; 
  }